.paragraph {
	padding: 10px;
	margin-bottom: 0.05em;
}

.doc-block {
	font-style: italic;
	margin: 10px 5px 20px 50px;
}

.sub-block {
	margin-left: 25px;
}

.doc-p {
	margin-bottom: 5px;
}

.doc-r {
	text-align: right;
	margin-top: -5px;
	margin-bottom: 15px;
}
