$white: #fff;
$black: #000;
$primary:#1402ee; //INDIGO
$secondary:#8c02ee; //PURPLE
$accent: #daee02; //GOLD
$error: #ee1602; //RED
$warn:#ee02da; //PINK
$alert: #0264ee; //BLUE


body {
	background-color: rgb(221, 217, 204);
	margin: 0;
	font-family: 'Roboto', sans-serif;
}
