$white: #fff;
$black: #000;
$primary:#1402ee; //INDIGO
$secondary:#8c02ee; //PURPLE
$accent: #daee02; //GOLD
$error: #ee1602; //RED
$warn:#ee02da; //PINK
$alert: #0264ee; //BLUE

$splash-grid-breakpoint: 1450px;

.v-application {
	background-color: rgb(221, 217, 204);
	margin: 0;
	font-family: 'Roboto', sans-serif;
}

.v-card-title, .v-toolbar-title {
	font-family: 'Forum', serif;
}

.v-footer {
	background: transparent;
}
