$splash-grid-breakpoint: 1250px;

body {
	background-color: rgba(204, 206, 168, 0.448);
	margin: 0;
	font-family: 'Roboto', sans-serif;
}

.v-card-title, .v-toolbar-title {
	font-family: 'Forum', serif;
}

.v-footer {
	background: transparent;
}
